<section class="position-relative auth">
    <div class="layout position-absolute top-0 start-0 z-2 w-100 h-100 bg-black bg-opacity-75"></div>
    <div class="container position-relative z-3">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8">
                <div class="auth-card">
                    <figure class="w-50 mx-auto">
                        <img src="assets/images/logo.svg" alt="logo" class="w-75">
                    </figure>

                    <h1>Reset Password</h1>
                    <p>Please Enter Your Otp or Check Your Inbox</p>

                    <form [formGroup]="resetForm" (ngSubmit)="onReset(resetForm)">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-regular fa-envelope"></i>
                            </span>
                            <input type="email" class="form-control" formControlName="email" placeholder="Enter your E-Mail">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            <input type="text" class="form-control" formControlName="seed" placeholder="OTP">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input [type]="!hide[0] ? 'password' : 'text'" class="form-control" formControlName="password" placeholder="New Password">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid" [class]="!hide[0] ? 'fa-eye-slash' : 'fa-eye'" style="cursor: pointer" (click)="hide[0] = !hide[0]"></i>
                            </span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-lock"></i>
                            </span>
                            <input [type]="!hide[1] ? 'password' : 'text'" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid" [class]="!hide[1] ? 'fa-eye-slash' : 'fa-eye'" style="cursor: pointer" (click)="!hide[1] = !hide[1]"></i>
                            </span>
                        </div>

                        <button class="primary w-100">Reset</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>