<section class="position-relative auth">
    <div class="layout position-absolute top-0 start-0 z-2 w-100 h-100 bg-black bg-opacity-75"></div>
    <div class="container position-relative z-3">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8">
                <div class="auth-card">
                    <figure class="w-50 mx-auto">
                        <img src="assets/images/logo.svg" alt="logo" class="w-75">
                    </figure>

                    <h1>Register</h1>
                    <p>Welcome Please enter your details</p>

                    <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
                        <div class="row">

                            <div class="col-md-12 d-flex justify-content-center">
                                <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                                    <ngx-dropzone-label>
                                        <i class="fa-solid fa-camera"></i> Upload Your Image
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f">
                                        <ngx-dropzone-label></ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="UserName"
                                            formControlName="userName"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('userName')?.touched && registerForm.get('userName')?.invalid, 
                                                'is-valid': registerForm.get('userName')?.touched && registerForm.get('userName')?.valid}">
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('userName')?.getError('required') && registerForm.get('userName')?.touched">
                                        userName is required
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('userName')?.getError('minlength') && registerForm.get('userName')?.touched">
                                        minLength is 3
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('userName')?.getError('maxlength') && registerForm.get('userName')?.touched">
                                        maxLength is 15
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-regular fa-envelope"></i>
                                        </span>
                                        <input type="email" class="form-control" placeholder="Enter your E-mail"
                                            formControlName="email"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('email')?.touched && registerForm.get('email')?.invalid, 
                                                'is-valid': registerForm.get('email')?.touched && registerForm.get('email')?.valid}">
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('email')?.getError('required') && registerForm.get('email')?.touched">
                                        E-mail is required
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('email')?.getError('email') && registerForm.get('email')?.touched">
                                        E-mail in invalid
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-earth-africa"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Country"
                                            formControlName="country"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('country')?.touched && registerForm.get('country')?.invalid, 
                                                'is-valid': registerForm.get('country')?.touched && registerForm.get('country')?.valid}">
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('country')?.getError('required') && registerForm.get('country')?.touched">
                                        country is required
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-mobile-screen"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="phone-number"
                                            formControlName="phoneNumber"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.invalid, 
                                                'is-valid': registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.valid}">
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('phoneNumber')?.getError('required') && registerForm.get('phoneNumber')?.touched">
                                        phone is required
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('phoneNumber')?.getError('pattern') && registerForm.get('phoneNumber')?.touched">
                                        phone is invalid
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input [type]="hide[0] ? 'password' : 'text'" class="form-control"
                                            placeholder="Password" formControlName="password"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('password')?.touched && registerForm.get('password')?.invalid, 
                                                'is-valid': registerForm.get('password')?.touched && registerForm.get('password')?.valid}">
                                        <span class="input-group-text" id="basic-addon1" (click)="hide[0] = !hide[0]">
                                            <i class="fa-solid" [class]="hide[0] ? 'fa-eye-slash' : 'fa-eye'"></i>
                                        </span>
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('password')?.getError('required') && registerForm.get('password')?.touched">
                                        Password is required
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('password')?.getError('pattern') && registerForm.get('password')?.touched">
                                        Password is invalid
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="contentBx">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                        <input [type]="hide[1] ? 'password' : 'text'" class="form-control"
                                            placeholder="confirm-password" formControlName="confirmPassword"
                                            [ngClass]="{
                                                'is-invalid': registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid, 
                                                'is-valid': registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.valid}">
                                        <span class="input-group-text" id="basic-addon1" (click)="hide[1] = !hide[1]">
                                            <i class="fa-solid" [class]="hide[1] ? 'fa-eye-slash' : 'fa-eye'"></i>
                                        </span>
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('confirmPassword')?.getError('required') && registerForm.get('confirmPassword')?.touched">
                                        confirmPassword is required
                                    </div>
                                    <div class="alert alert-danger py-1" role="alert"
                                        *ngIf="registerForm.get('confirmPassword')?.getError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
                                        password and confirmPassword aren't matched
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="links mb-5 d-flex justify-content-between align-items-center">
                            <a class="text-decoration-none text-dark-gray" routerLink="/auth/login">Login Now ?</a>
                            <a class="text-decoration-none text-main" (click)="openPopup = !openPopup">Have Code ?</a>
                        </div>

                        <button class="primary w-50 mx-auto d-block" [disabled]="registerForm.invalid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div
        class="pop-up position-absolute top-0 start-0 bg-black bg-opacity-50 w-100 vh-100 z-3 d-flex justify-content-center align-items-center" *ngIf="openPopup">
        <div class="pop-up-message bg-white rounded-2">
            <p class="text-start fw-bolder">
                Hi {{ userName }} You Need to Verify Your Account
            </p>
            <form [formGroup]="verifyForm" (ngSubmit)="onVerify(verifyForm)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contentBx">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your E-mail" formControlName="email"
                                    [ngClass]="{
                                        'is-invalid': verifyForm.get('email')?.touched && verifyForm.get('email')?.invalid, 
                                        'is-valid': verifyForm.get('email')?.touched && verifyForm.get('email')?.valid}">
                            </div>
                            <p class="alert alert-danger py-1" *ngIf="verifyForm.get('email')?.touched && verifyForm.get('email')?.getError('required')">
                                E-Mail is required
                            </p>
                            <p class="alert alert-danger py-1" *ngIf="verifyForm.get('email')?.touched && verifyForm.get('email')?.getError('email')">
                                E-Mail is Invalid
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="contentBx">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-key"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Code" formControlName="otp"
                                    [ngClass]="{
                                        'is-invalid': verifyForm.get('otp')?.touched && verifyForm.get('otp')?.invalid, 
                                        'is-valid': verifyForm.get('otp')?.touched && verifyForm.get('otp')?.valid}">
                            </div>
                            <p class="alert alert-danger py-1" *ngIf="verifyForm.get('otp')?.touched && verifyForm.get('otp')?.getError('required')">
                                Code is required
                            </p>
                            <p class="alert alert-danger py-1" *ngIf="verifyForm.get('otp')?.touched && verifyForm.get('otp')?.getError('minLength') || verifyForm.get('code')?.getError('maxLength')">
                                Code MaxLength and MinLength is 4                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="px-3 py-1 dark-outline" (click)="openPopup = !openPopup">close</button>
                    <button class="px-3 py-1 primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</section>