<section class="position-relative auth">
    <div class="layout position-absolute top-0 start-0 z-2 w-100 h-100 bg-black bg-opacity-75"></div>
    <div class="container position-relative z-3">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-8">
                <div class="auth-card d-flex flex-column gap-3">
                    <figure class="w-50 mx-auto">
                        <img src="assets/images/logo.svg" alt="logo" class="w-75">
                    </figure>

                    <div class="content">
                        <h1>Forgot Your Password?</h1>
                        <p>No worries! Please enter your email and we will send a password reset link </p>

                    </div>

                    <form class="d-flex flex-column gap-5" [formGroup]="forgetForm" (ngSubmit)="onForget(forgetForm)">

                        <div>
                            <div class="input-group mb-2">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Enter your E-mail"
                                    formControlName="email" [ngClass]="{
                                    'is-invalid': forgetForm.get('email')?.touched && forgetForm.get('email')?.invalid,
                                    'is-valid': forgetForm.get('email')?.touched && forgetForm.get('email')?.valid,
                                }">
                            </div>
                            <div class="alert alert-danger py-1" role="alert"
                                *ngIf="forgetForm.get('email')?.getError('required') && forgetForm.get('email')?.touched">
                                E-Mail is required
                            </div>

                            <div class="alert alert-danger py-1" role="alert"
                                *ngIf="forgetForm.get('email')?.getError('email') && forgetForm.get('email')?.touched">
                                E-Mail is Invalid
                            </div>
                        </div>

                        <button class="primary w-100">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>