<section class="p-1 p-md-3">
    <div class="row align-items-center">
        <div class="col-md-8 col-7">
            <div class="d-flex align-items-center bg-white px-4 py-1 rounded-5">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="email" class="form-control border-0 rounded-2" id="exampleFormControlInput1"
                    placeholder="SEARCH HERE">
            </div>
        </div>
        <div class="col-md-4 col-4">
            <div class="d-flex align-items-center justify-content-center gap-3 px-3 user-details">
                <figure class="mb-0">
                    <img src="../../../assets/images/image.svg" alt="">
                </figure>
                <div class="d-flex align-items-center gap-md-5 gap-2">
                    <span class="mb-0 title">{{ userName }}</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <i class="fa-solid fa-bell"></i>
            </div>
        </div>
    </div>
</section>